<!DOCTYPE html>

<html>

<head>
  <meta charset="UTF-8">
  <title>WASCID</title>
  <link href="https://fonts.googleapis.com/css?family=Oxygen:400,700" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <header>
    <h1>
      WASCID
    </h1>
  </header>

  <!-- <div id="chartArea">
    <canvas id="myChart" width="500" height="500"></canvas>
  </div> -->

<div id="selectors">
  <div class="custom-select">
    <select id="workflow">
      <option>Workflow:</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="5">5</option>
      <option value="8">8</option>
      <option value="13">13</option>
    </select>
  </div>
  <div class="custom-select">
    <select id="audience">
      <option>Audience:</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="5">5</option>
      <option value="8">8</option>
      <option value="13">13</option>
    </select>
  </div>
  <!-- <div class="custom-select">
    <select id="scenario">
      <option>Scenario:</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="5">5</option>
      <option value="8">8</option>
      <option value="13">13</option>
    </select>
  </div>
  <div class="custom-select">
    <select id="code">
      <option>Code:</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="5">5</option>
      <option value="8">8</option>
      <option value="13">13</option>
    </select>
  </div>
  <div class="custom-select">
    <select id="interface">
      <option>Interface:</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="5">5</option>
      <option value="8">8</option>
      <option value="13">13</option>
    </select>
  </div>
  <div class="custom-select">
    <select id="data">
      <option>Data:</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="5">5</option>
      <option value="8">8</option>
      <option value="13">13</option>
    </select>
  </div> -->
</div>

  <!-- <button id="reset">
    Clear
  </button>
</body> -->

<footer>
  <p>WASCID</p>
</footer>

<script>
  var v2 = true;
  var s = (v2) ? 0 : -1;
</script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.7.2/dist/Chart.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="client.js"></script>
<script src="options.js"></script>

</html>